[submodule "Dicom_RT_and_Images_to_Mask"]
	path = Dicom_RT_and_Images_to_Mask
	url = https://github.com/brianmanderson/Dicom_RT_and_Images_to_Mask
[submodule "Unzip_Tool"]
	path = Unzip_Tool
	url = https://github.com/brianmanderson/Unzip_Tool
